---
import { MotionDiv } from "./ui/motion";
import { WhyChooseGrid } from "./custom/why-choose-grid";

const benefits = [
  {
    icon: "ri-search-line",
    title: "Decentralized Platform",
    description: "Everything operates using smart contracts. It's a transparent and community-driven marketplace with no middleman involved; the blockchain handles everything."
  },
  {
    icon: "ri-money-dollar-circle-line",
    title: "Diverse Asset Support",
    description: "We don’t box you in. Our platform handles all kinds of digital assets, from creator NFTs to game items and social media accounts so you have full freedom and flexibility in one place"
  },
  {
    icon: "ri-team-line",
    title: "Creator and User Advantages",
    description: "Creators keep full ownership, get paid fairly, and earn royalties every time their work is resold. Users? They own what they buy, control their data, earn rewards, and help shape the platform, no middlemen, just real value exchange."
  },
  {
    icon: "ri-p2p-line",
    title: "Escrow-Backed Trades",
    description: "Every deal is auto-locked in escrow. Funds only move when both sides deliver, so it’s safe, secure, and scam-proof.",
  }
];

---

<section id="why-us" class="py-16 px-4 lg:px-8" aria-labelledby="why-us-heading">
  <div class="">
    <MotionDiv
      client:visible
      className="text-center mb-16"
      initial="hidden"
      whileInView="visible"
      viewport={{ once: true, amount: 0.5 }}
      variants={{
        hidden: { opacity: 0, y: 50 },
        visible: { opacity: 1, y: 0 }
      }}
      transition={{ duration: 0.5 }}
    >
      <h2 id="why-us-heading" class="text-4xl md:text-5xl font-bold text-white mb-6">Why Choose Vertix</h2>
    </MotionDiv>

    <WhyChooseGrid items={benefits} client:load />
  </div>
</section>